In [1]:
import tensorflow
from tensorflow import keras
from keras import layers, optimizers
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

2025-04-19 23:04:19.921674: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
import kaggle
import kagglehub

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/chuck/.kaggle/kaggle.json'

/Users/chuck/python-projects/kaggle/kidney_disease/venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
path = kagglehub.dataset_download("amanik000/kidney-disease-dataset")

In [4]:
df = pd.read_csv(f"{path}/kidney_disease_dataset.csv")

In [5]:
df.head()

,Age of the patient,Blood pressure (mm/Hg),Specific gravity of urine,Albumin in urine,Sugar in urine,Red blood cells in urine,Pus cells in urine,Pus cell clumps in urine,Bacteria in urine,Random blood glucose level (mg/dl),...,Smoking status,Body Mass Index (BMI),Physical activity level,Duration of diabetes mellitus (years),Duration of hypertension (years),Cystatin C level,Urinary sediment microscopy results,C-reactive protein (CRP) level,Interleukin-6 (IL-6) level,Target
0,54,167,1.023,1,4,normal,abnormal,not present,not present,96,...,yes,25.3,low,4,16,0.67,normal,4.88,10.23,No_Disease
1,42,127,1.023,3,2,normal,normal,not present,present,73,...,no,20.6,moderate,3,13,0.55,abnormal,4.49,13.11,Low_Risk
2,38,148,1.016,0,0,abnormal,normal,not present,not present,77,...,no,38.4,high,11,23,2.37,abnormal,4.57,13.27,No_Disease
3,7,98,1.017,4,0,abnormal,normal,not present,present,225,...,no,24.7,high,24,3,2.54,abnormal,8.57,12.36,No_Disease
4,67,174,1.015,1,1,normal,abnormal,not present,not present,376,...,yes,17.6,high,22,24,1.90,normal,6.75,1.46,No_Disease

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20538 entries, 0 to 20537
Data columns (total 43 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Age of the patient                           20538 non-null  int64
 1   Blood pressure (mm/Hg)                       20538 non-null  int64
 2   Specific gravity of urine                    20538 non-null  float64
 3   Albumin in urine                             20538 non-null  int64
 4   Sugar in urine                               20538 non-null  int64
 5   Red blood cells in urine                     20538 non-null  object
 6   Pus cells in urine                           20538 non-null  object
 7   Pus cell clumps in urine                     20538 non-null  object
 8   Bacteria in urine                            20538 non-null  object
 9   Random blood glucose level (mg/dl)           20538 non-null  int64
 10  Blood urea (mg/dl)                           20538 non-null  float64
 11  Serum creatinine (mg/dl)                     20538 non-null  float64
 12  Sodium level (mEq/L)                         20538 non-null  float64
 13  Potassium level (mEq/L)                      20538 non-null  float64
 14  Hemoglobin level (gms)                       20538 non-null  float64
 15  Packed cell volume (%)                       20538 non-null  int64
 16  White blood cell count (cells/cumm)          20538 non-null  int64
 17  Red blood cell count (millions/cumm)         20538 non-null  float64
 18  Hypertension (yes/no)                        20538 non-null  object
 19  Diabetes mellitus (yes/no)                   20538 non-null  object
 20  Coronary artery disease (yes/no)             20538 non-null  object
 21  Appetite (good/poor)                         20538 non-null  object
 22  Pedal edema (yes/no)                         20538 non-null  object
 23  Anemia (yes/no)                              20538 non-null  object
 24  Estimated Glomerular Filtration Rate (eGFR)  20538 non-null  float64
 25  Urine protein-to-creatinine ratio            20538 non-null  float64
 26  Urine output (ml/day)                        20538 non-null  int64
 27  Serum albumin level                          20538 non-null  float64
 28  Cholesterol level                            20538 non-null  int64
 29  Parathyroid hormone (PTH) level              20538 non-null  float64
 30  Serum calcium level                          20538 non-null  float64
 31  Serum phosphate level                        20538 non-null  float64
 32  Family history of chronic kidney disease     20538 non-null  object
 33  Smoking status                               20538 non-null  object
 34  Body Mass Index (BMI)                        20538 non-null  float64
 35  Physical activity level                      20538 non-null  object
 36  Duration of diabetes mellitus (years)        20538 non-null  int64
 37  Duration of hypertension (years)             20538 non-null  int64
 38  Cystatin C level                             20538 non-null  float64
 39  Urinary sediment microscopy results          20538 non-null  object
 40  C-reactive protein (CRP) level               20538 non-null  float64
 41  Interleukin-6 (IL-6) level                   20538 non-null  float64
 42  Target                                       20538 non-null  object
dtypes: float64(17), int64(11), object(15)
memory usage: 6.7+ MB

In [7]:
df.isna().sum()

Age of the patient                             0
Blood pressure (mm/Hg)                         0
Specific gravity of urine                      0
Albumin in urine                               0
Sugar in urine                                 0
Red blood cells in urine                       0
Pus cells in urine                             0
Pus cell clumps in urine                       0
Bacteria in urine                              0
Random blood glucose level (mg/dl)             0
Blood urea (mg/dl)                             0
Serum creatinine (mg/dl)                       0
Sodium level (mEq/L)                           0
Potassium level (mEq/L)                        0
Hemoglobin level (gms)                         0
Packed cell volume (%)                         0
White blood cell count (cells/cumm)            0
Red blood cell count (millions/cumm)           0
Hypertension (yes/no)                          0
Diabetes mellitus (yes/no)                     0
Coronary artery disease (yes/no)               0
Appetite (good/poor)                           0
Pedal edema (yes/no)                           0
Anemia (yes/no)                                0
Estimated Glomerular Filtration Rate (eGFR)    0
Urine protein-to-creatinine ratio              0
Urine output (ml/day)                          0
Serum albumin level                            0
Cholesterol level                              0
Parathyroid hormone (PTH) level                0
Serum calcium level                            0
Serum phosphate level                          0
Family history of chronic kidney disease       0
Smoking status                                 0
Body Mass Index (BMI)                          0
Physical activity level                        0
Duration of diabetes mellitus (years)          0
Duration of hypertension (years)               0
Cystatin C level                               0
Urinary sediment microscopy results            0
C-reactive protein (CRP) level                 0
Interleukin-6 (IL-6) level                     0
Target                                         0
dtype: int64

In [8]:
import sklearn
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [9]:
x_df = df.drop(columns=["Target"])
y_df = df["Target"]

In [10]:
y_df.unique()

array(['No_Disease', 'Low_Risk', 'Moderate_Risk', 'Severe_Disease',
       'High_Risk'], dtype=object)

In [11]:
encoder = LabelEncoder()
y_encoded = encoder.fit_transform(y_df)

In [12]:
y_encoded.shape

(20538,)

In [13]:
y_encoded[0]

3

In [14]:
y_df[0]

'No_Disease'

In [15]:
y_encoded_df = pd.DataFrame(y_encoded)

In [16]:
y_encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20538 entries, 0 to 20537
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20538 non-null  int64
dtypes: int64(1)
memory usage: 160.6 KB

In [17]:
y_encoded_df.head()

   0
0  3
1  1
2  3
3  3
4  3

In [18]:
cat_cols = x_df.select_dtypes(include=["object"]).columns

In [19]:
x_df = pd.get_dummies(x_df, columns=cat_cols, drop_first=True)

In [20]:
x_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20538 entries, 0 to 20537
Data columns (total 43 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Age of the patient                            20538 non-null  int64
 1   Blood pressure (mm/Hg)                        20538 non-null  int64
 2   Specific gravity of urine                     20538 non-null  float64
 3   Albumin in urine                              20538 non-null  int64
 4   Sugar in urine                                20538 non-null  int64
 5   Random blood glucose level (mg/dl)            20538 non-null  int64
 6   Blood urea (mg/dl)                            20538 non-null  float64
 7   Serum creatinine (mg/dl)                      20538 non-null  float64
 8   Sodium level (mEq/L)                          20538 non-null  float64
 9   Potassium level (mEq/L)                       20538 non-null  float64
 10  Hemoglobin level (gms)                        20538 non-null  float64
 11  Packed cell volume (%)                        20538 non-null  int64
 12  White blood cell count (cells/cumm)           20538 non-null  int64
 13  Red blood cell count (millions/cumm)          20538 non-null  float64
 14  Estimated Glomerular Filtration Rate (eGFR)   20538 non-null  float64
 15  Urine protein-to-creatinine ratio             20538 non-null  float64
 16  Urine output (ml/day)                         20538 non-null  int64
 17  Serum albumin level                           20538 non-null  float64
 18  Cholesterol level                             20538 non-null  int64
 19  Parathyroid hormone (PTH) level               20538 non-null  float64
 20  Serum calcium level                           20538 non-null  float64
 21  Serum phosphate level                         20538 non-null  float64
 22  Body Mass Index (BMI)                         20538 non-null  float64
 23  Duration of diabetes mellitus (years)         20538 non-null  int64
 24  Duration of hypertension (years)              20538 non-null  int64
 25  Cystatin C level                              20538 non-null  float64
 26  C-reactive protein (CRP) level                20538 non-null  float64
 27  Interleukin-6 (IL-6) level                    20538 non-null  float64
 28  Red blood cells in urine_normal               20538 non-null  bool
 29  Pus cells in urine_normal                     20538 non-null  bool
 30  Pus cell clumps in urine_present              20538 non-null  bool
 31  Bacteria in urine_present                     20538 non-null  bool
 32  Hypertension (yes/no)_yes                     20538 non-null  bool
 33  Diabetes mellitus (yes/no)_yes                20538 non-null  bool
 34  Coronary artery disease (yes/no)_yes          20538 non-null  bool
 35  Appetite (good/poor)_poor                     20538 non-null  bool
 36  Pedal edema (yes/no)_yes                      20538 non-null  bool
 37  Anemia (yes/no)_yes                           20538 non-null  bool
 38  Family history of chronic kidney disease_yes  20538 non-null  bool
 39  Smoking status_yes                            20538 non-null  bool
 40  Physical activity level_low                   20538 non-null  bool
 41  Physical activity level_moderate              20538 non-null  bool
 42  Urinary sediment microscopy results_normal    20538 non-null  bool
dtypes: bool(15), float64(17), int64(11)
memory usage: 4.7 MB

In [21]:
x_df.head()

,Age of the patient,Blood pressure (mm/Hg),Specific gravity of urine,Albumin in urine,Sugar in urine,Random blood glucose level (mg/dl),Blood urea (mg/dl),Serum creatinine (mg/dl),Sodium level (mEq/L),Potassium level (mEq/L),...,Diabetes mellitus (yes/no)_yes,Coronary artery disease (yes/no)_yes,Appetite (good/poor)_poor,Pedal edema (yes/no)_yes,Anemia (yes/no)_yes,Family history of chronic kidney disease_yes,Smoking status_yes,Physical activity level_low,Physical activity level_moderate,Urinary sediment microscopy results_normal
0,54,167,1.023,1,4,96,169.101369,7.55,146.068410,6.272576,...,True,False,False,False,False,False,True,True,False,True
1,42,127,1.023,3,2,73,183.223479,13.37,123.501427,5.611303,...,True,False,False,True,True,True,False,False,True,False
2,38,148,1.016,0,0,77,193.141665,9.49,149.456527,3.965957,...,False,True,False,True,False,False,False,False,False,False
3,7,98,1.017,4,0,225,125.939396,10.98,131.758843,4.980997,...,False,True,False,False,True,False,False,False,False,False
4,67,174,1.015,1,1,376,197.188600,3.01,120.912465,4.097602,...,False,False,False,True,True,False,True,False,False,True

In [22]:
x_train, x_val, y_train, y_val = train_test_split(
    x_df, y_encoded_df, test_size=0.2, random_state=42)

In [23]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_val = scaler.transform(x_val)

In [24]:
print(x_train.shape, y_train.shape, x_val.shape, y_val.shape)

(16430, 43) (16430, 1) (4108, 43) (4108, 1)

In [25]:
y_train = np.array(y_train).reshape((16430,)).astype(int)
y_train.shape

(16430,)

In [26]:
y_val = np.array(y_val).reshape((4108,)).astype(int)
y_val.shape

(4108,)

In [38]:
optimizer = optimizers.Adam(learning_rate=0.001)
model = keras.Sequential([
    layers.Dense(128, activation="relu"),
    layers.Dropout(0.5),
    layers.Dense(64, activation="relu"),
    layers.Dropout(0.5),
    layers.Dense(32, activation="relu"),
    layers.Dropout(0.5),
    layers.Dense(16, activation="relu"),
    layers.Dropout(0.5),
    layers.Dense(5, activation="softmax")
])
model.compile(optimizer=optimizer,
              loss="sparse_categorical_crossentropy",
              metrics=["accuracy"])
history = model.fit(x_train, y_train, epochs=20, batch_size=128)

Epoch 1/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.4288 - loss: 1.5257
Epoch 2/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7693 - loss: 1.0160
Epoch 3/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7969 - loss: 0.9320
Epoch 4/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7986 - loss: 0.8964
Epoch 5/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8008 - loss: 0.8398
Epoch 6/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7971 - loss: 0.8331
Epoch 7/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8041 - loss: 0.7904
Epoch 8/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8001 - loss: 0.8020
Epoch 9/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8004 - loss: 0.7929
Epoch 10/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7963 - loss: 0.7917
Epoch 11/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8047 - loss: 0.7725
Epoch 12/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7928 - loss: 0.7941
Epoch 13/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7954 - loss: 0.7886
Epoch 14/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7961 - loss: 0.7838
Epoch 15/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8028 - loss: 0.7584
Epoch 16/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7998 - loss: 0.7663
Epoch 17/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8019 - loss: 0.7561
Epoch 18/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7977 - loss: 0.7640
Epoch 19/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7980 - loss: 0.7591
Epoch 20/20
129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7965 - loss: 0.7709

In [39]:
val_loss, val_accuracy = model.evaluate(x_val, y_val)

129/129 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8114 - loss: 0.7083