In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow import keras

2025-04-08 00:36:34.376447: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
x_train = df.drop(labels=['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'], axis=1)
y_train = df['Survived']

In [8]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.9+ KB

In [9]:
x_train = pd.get_dummies(x_train, columns=["Sex", "Embarked"], drop_first=True)

In [10]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   Age         714 non-null    float64
 2   SibSp       891 non-null    int64
 3   Parch       891 non-null    int64
 4   Fare        891 non-null    float64
 5   Sex_male    891 non-null    bool
 6   Embarked_Q  891 non-null    bool
 7   Embarked_S  891 non-null    bool
dtypes: bool(3), float64(2), int64(3)
memory usage: 37.5 KB

In [11]:
x_train.head()

   Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  Embarked_S
0       3  22.0      1      0   7.2500      True       False        True
1       1  38.0      1      0  71.2833     False       False       False
2       3  26.0      0      0   7.9250     False       False        True
3       1  35.0      1      0  53.1000     False       False        True
4       3  35.0      0      0   8.0500      True       False        True

In [12]:
x_train = (x_train - x_train.mean()) / x_train.std()

In [13]:
x_train.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0.826913,-0.530005,0.432550,-0.473408,-0.502163,0.737281,-0.30739,0.618959
1,-1.565228,0.571430,0.432550,-0.473408,0.786404,-1.354813,-0.30739,-1.613803
2,0.826913,-0.254646,-0.474279,-0.473408,-0.488580,-1.354813,-0.30739,0.618959
3,-1.565228,0.364911,0.432550,-0.473408,0.420494,-1.354813,-0.30739,0.618959
4,0.826913,0.364911,-0.474279,-0.473408,-0.486064,0.737281,-0.30739,0.618959

In [14]:
x_train = x_train.fillna(x_train.median())

In [15]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    float64
 1   Age         891 non-null    float64
 2   SibSp       891 non-null    float64
 3   Parch       891 non-null    float64
 4   Fare        891 non-null    float64
 5   Sex_male    891 non-null    float64
 6   Embarked_Q  891 non-null    float64
 7   Embarked_S  891 non-null    float64
dtypes: float64(8)
memory usage: 55.8 KB

In [16]:
x_train = np.array(x_train).astype(np.float32)

In [17]:
y_train = np.array(y_train).astype(np.float32)

In [18]:
x_train[0]

array([ 0.8269128 , -0.5300051 ,  0.43255043, -0.47340772, -0.5021631 ,
        0.737281  , -0.3073897 ,  0.6189587 ], dtype=float32)

In [19]:
y_train[0]

0.0

In [20]:
len(x_train)

891

In [21]:
len(y_train)

891

In [22]:
from keras import layers

In [32]:
model = keras.Sequential([
    layers.Dense(64, activation='relu'),
    layers.Dense(1, activation='sigmoid')  # binary classification
])
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])
model.fit(x_train, y_train, epochs=4, batch_size=16)

Epoch 1/4
56/56 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.5828 - loss: 0.6680
Epoch 2/4
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7709 - loss: 0.5352
Epoch 3/4
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8088 - loss: 0.4693
Epoch 4/4
56/56 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8152 - loss: 0.4391

In [39]:
test_df = pd.read_csv('test.csv')

In [40]:
x_test = test_df.drop(labels=['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [43]:
x_test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [45]:
x_test = pd.get_dummies(x_test, columns=["Sex", "Embarked"], drop_first=True)

In [46]:
x_test = (x_test - x_test.mean()) / x_test.std()

In [47]:
x_test.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0.872436,0.298099,-0.498872,-0.399769,-0.497213,0.755024,2.840354,-1.349059
1,0.872436,1.179547,0.616254,-0.399769,-0.512045,-1.321292,-0.351227,0.739484
2,-0.315441,2.237285,-0.498872,-0.399769,-0.463974,0.755024,2.840354,-1.349059
3,0.872436,-0.230769,-0.498872,-0.399769,-0.482308,0.755024,-0.351227,0.739484
4,0.872436,-0.583349,0.616254,0.619154,-0.417469,-1.321292,-0.351227,0.739484

In [48]:
x_test = x_test.fillna(x_test.median())

In [49]:
x_test = np.array(x_test).astype(np.float32)

In [50]:
predictions = model.predict(x_test)

14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step

In [52]:
predictions[:10]

array([[0.12922569],
       [0.40829653],
       [0.13505039],
       [0.11533517],
       [0.49570784],
       [0.16750903],
       [0.6586934 ],
       [0.2438643 ],
       [0.60433763],
       [0.07514452]], dtype=float32)

In [53]:
predictions.shape

(418, 1)

In [57]:
predictions.reshape((418,))

array([0.12922569, 0.40829653, 0.13505039, 0.11533517, 0.49570784,
       0.16750903, 0.6586934 , 0.2438643 , 0.60433763, 0.07514452,
       0.11481605, 0.27568933, 0.87544936, 0.09240532, 0.8576227 ,
       0.7409027 , 0.27941597, 0.1999912 , 0.4726729 , 0.5143293 ,
       0.29708052, 0.25684738, 0.8528174 , 0.6227221 , 0.8992179 ,
       0.0542402 , 0.88613373, 0.19266385, 0.31888285, 0.10552415,
       0.11486308, 0.15530418, 0.4287009 , 0.4600333 , 0.4430805 ,
       0.21035533, 0.50628346, 0.5191669 , 0.12257399, 0.16779733,
       0.17563966, 0.38737586, 0.07850602, 0.7166167 , 0.8532066 ,
       0.12146638, 0.3571517 , 0.15925123, 0.8478377 , 0.4823972 ,
       0.44635582, 0.29666921, 0.6415174 , 0.86580664, 0.29744682,
       0.07117075, 0.09215485, 0.12127385, 0.09458432, 0.9384153 ,
       0.1544532 , 0.17567405, 0.15037547, 0.68214375, 0.6885274 ,
       0.733747  , 0.6934798 , 0.3079402 , 0.4508266 , 0.8345272 ,
       0.6764316 , 0.13671651, 0.50432444, 0.46617806, 0.93244624,
       0.6065433 , 0.11492029, 0.75685716, 0.18534961, 0.6764316 ,
       0.29807982, 0.45679876, 0.25760764, 0.11481605, 0.3289455 ,
       0.15525162, 0.6677997 , 0.52594614, 0.6677497 , 0.4137111 ,
       0.49454904, 0.11473446, 0.8618664 , 0.11492029, 0.48804367,
       0.12137589, 0.78952533, 0.10862024, 0.5201079 , 0.09767029,
       0.8607697 , 0.18184839, 0.15925123, 0.11796816, 0.5682149 ,
       0.12260687, 0.1892634 , 0.15925123, 0.11536909, 0.26362565,
       0.22117165, 0.667761  , 0.84552014, 0.69186056, 0.8913105 ,
       0.17606527, 0.17262036, 0.5607221 , 0.4728796 , 0.70255154,
       0.73971796, 0.12681697, 0.8693985 , 0.11123601, 0.15925123,
       0.57548594, 0.132441  , 0.5418738 , 0.14105609, 0.12508813,
       0.10034855, 0.3101172 , 0.48891538, 0.14731807, 0.07458161,
       0.12495314, 0.174938  , 0.21107922, 0.5130079 , 0.08223645,
       0.19585599, 0.90583396, 0.5137472 , 0.21550815, 0.30288446,
       0.03450825, 0.4461166 , 0.13262516, 0.38737586, 0.21144946,
       0.89859533, 0.17414904, 0.05557651, 0.47334987, 0.04548069,
       0.12474366, 0.9234498 , 0.5125644 , 0.30288446, 0.52569836,
       0.66774327, 0.2917496 , 0.7212049 , 0.11421208, 0.14403541,
       0.50466573, 0.36904988, 0.11575367, 0.8532081 , 0.5174603 ,
       0.11458258, 0.17344452, 0.10405565, 0.17344898, 0.0802964 ,
       0.7882887 , 0.7634472 , 0.29728848, 0.67534655, 0.81754535,
       0.18534961, 0.47228956, 0.8521401 , 0.15925123, 0.9362587 ,
       0.1511048 , 0.7548722 , 0.07738141, 0.06304293, 0.14706688,
       0.1541228 , 0.38616124, 0.18480645, 0.14066407, 0.5284346 ,
       0.09754812, 0.74655515, 0.52531546, 0.22966282, 0.5064314 ,
       0.67074466, 0.373448  , 0.5452314 , 0.7388235 , 0.21558842,
       0.47373345, 0.6402232 , 0.22254623, 0.8460485 , 0.12144592,
       0.11120629, 0.11424572, 0.35489732, 0.6215889 , 0.1694466 ,
       0.34051746, 0.6677997 , 0.4725694 , 0.91300887, 0.11492029,
       0.7098858 , 0.13684694, 0.7221092 , 0.13663198, 0.81561697,
       0.57662785, 0.12863001, 0.6677497 , 0.08428335, 0.16029185,
       0.35714173, 0.85099983, 0.1047272 , 0.1592988 , 0.41358525,
       0.14124636, 0.2829045 , 0.20416455, 0.7048848 , 0.8856505 ,
       0.81409633, 0.6650442 , 0.4711579 , 0.11481045, 0.12896638,
       0.3311823 , 0.7397601 , 0.16200347, 0.70255154, 0.53559977,
       0.77454424, 0.14131185, 0.58193594, 0.12597021, 0.09989919,
       0.11458258, 0.15925123, 0.11176294, 0.73001325, 0.13661443,
       0.07606784, 0.13668135, 0.7332589 , 0.55481523, 0.27400678,
       0.11481605, 0.33911562, 0.11458258, 0.50628346, 0.15535447,
       0.41361585, 0.15925123, 0.9128078 , 0.6184801 , 0.17344452,
       0.7103659 , 0.19468711, 0.13629626, 0.16443805, 0.23693764,
       0.51439476, 0.23272732, 0.6677497 , 0.60219014, 0.5623163 ,
       0.08925769, 0.11438037, 0.4848109 , 0.17344898, 0.11492029,
       0.41701183, 0.65838313, 0.17344898, 0.35487366, 0.09083791,
       0.11805069, 0.8070073 , 0.10552415, 0.4141651 , 0.10857348,
       0.10017925, 0.29668704, 0.18204552, 0.12551121, 0.6677497 ,
       0.7576758 , 0.55146533, 0.31068137, 0.36537844, 0.43609613,
       0.15144914, 0.19508334, 0.11459945, 0.62951726, 0.889891  ,
       0.6962102 , 0.40408677, 0.257598  , 0.11478794, 0.1625929 ,
       0.11796816, 0.18096264, 0.21107922, 0.35721332, 0.913703  ,
       0.12810409, 0.67284584, 0.41923946, 0.17302258, 0.2465157 ,
       0.65833724, 0.3978673 , 0.17344452, 0.5603499 , 0.11481605,
       0.37189764, 0.17495956, 0.18101336, 0.24215573, 0.17344898,
       0.26446286, 0.10005887, 0.1241395 , 0.95777214, 0.11972458,
       0.5300538 , 0.21107922, 0.52743775, 0.2254685 , 0.7276583 ,
       0.86940026, 0.21558842, 0.3501699 , 0.18526433, 0.5883284 ,
       0.25205407, 0.7767183 , 0.11480482, 0.15925123, 0.49102992,
       0.00737077, 0.75646204, 0.7276583 , 0.11533517, 0.86992985,
       0.36153674, 0.15525533, 0.5798016 , 0.86657405, 0.28224853,
       0.19920912, 0.91315866, 0.20495623, 0.13512954, 0.842856  ,
       0.93218696, 0.39191282, 0.24497813, 0.27963272, 0.05495803,
       0.15925123, 0.16401501, 0.5215452 , 0.5026253 , 0.20394869,
       0.75410014, 0.12489856, 0.1054325 , 0.18923356, 0.07680794,
       0.54687905, 0.83873814, 0.28286505, 0.12420549, 0.04627944,
       0.85738105, 0.17353497, 0.8683049 , 0.13242592, 0.14306056,
       0.9136169 , 0.13586731, 0.8844934 , 0.47926202, 0.32971618,
       0.33617488, 0.18679579, 0.53380984, 0.6677384 , 0.5507693 ,
       0.6677497 , 0.90140945, 0.5047106 , 0.11492029, 0.8977357 ,
       0.08342346, 0.11492029, 0.19949462], dtype=float32)

In [59]:
predictions.shape

(418, 1)

In [61]:
prediction_labels = (predictions > 0.5).astype(int)

In [62]:
prediction_labels[:10]

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0]])

In [63]:
len(prediction_labels)

418

In [65]:
submission_df = pd.DataFrame({
    'PassengerId': test_df['PassengerId'],
    'Survived': prediction_labels.flatten()
})
submission_df.head()
submission_df.to_csv('submission.csv', index=False)